.card {
    /* align */
    position: relative;
    /* spacing */
    padding: 1rem;
    /* border */
    border-radius: 1rem;
    /* color */
    color: var(--light-text);
    background-color: var(--dark-bg);
}

.card input[type="text"] {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 0.125rem solid;
    border-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    text-align: center;
    color: var(--light-text-col);
}

.card > header {
    font-size: 1.5rem;
    padding: 0.5rem;
}
.card > footer {
    margin: 1rem;
    justify-content: space-between;
}
.card main {
    padding: 1rem;
}
.card > main header {
    font-size: 1.125rem;
    color: var(--light-text-col);
}