:root {
    --chart-width: 50rem;
    --chart-height: 37.5rem;

    --editor-connector: visible;
    --editor-add: visible;
    --editor-remove: hidden;
    
    --connector-opacity: 1;
    --add-opacity: 1;
}

/* container */
#flowchart {
    position: relative;
    background-color: var(--bg-col);
    border-radius: 15px;

    width: var(--chart-width);
    height: var(--chart-height);
}
#flowchart-container {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 800px;
}
#flowchart-container > * {
    position: absolute;
    transform: translate(-50%, -50%);
    color: var(--dark-col);
    user-select: none;
}

#remove-task {
    position: absolute;
    margin: 10px;
    left: 0;
    bottom: 0;
    opacity: calc(1 - var(--connector-opacity));
    cursor: pointer;
}

/* task */
.flow-task {
    position: absolute;
    border: 2px solid;
    border-radius: 5px;
    background-color: var(--bg-col);

    font-size: 10px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    max-width: 130px;

    padding: 7px 5px;
    z-index: 2;
}
.editor-connector, .editor-add, .editor-remove {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    border: 2px solid;
    border-radius: 50%;
    background-color: var(--light-col);

    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
}
.editor-connector {
    z-index: 3;
}
.editor-add, .editor-remove {
    z-index: 4;
}
.flow-task:hover > .editor-connector {
    opacity: calc(var(--connector-opacity) * 0.7);
}
.flow-task:hover > .editor-add {
    opacity: calc(calc(1 - var(--connector-opacity)) * var(--add-opacity));
}
.flow-task:hover > .editor-remove {
    opacity: calc(calc(1 - var(--connector-opacity)) * calc(1 - var(--add-opacity)));
}
.editor-add::before, .editor-remove::before {
    position: absolute;
    transform: translate(-6px, 10px);
}

/* start end */
.flow-start {
    position: absolute;
    border: 3px solid;
    border-radius: 50%;
    background-color: var(--bg-col);

    padding: 6px;
    cursor: pointer;
    z-index: 2;
}
.flow-end {
    position: absolute;
    border: 6px double;
    border-radius: 50%;
    background-color: var(--bg-col);

    padding: 6px;
    z-index: 2;
}

/* line */
.line {
    position: absolute;
    border: 1px solid;
    background-color: black;
    width: 0;
    height: 0;
    z-index: 1;
}
.caret-up, .caret-right, .caret-down, .caret-left {
    position: absolute;
    z-index: 1;
}
#flowchart-container .caret-up {
    transform: translate(-50%, calc(-50% + 4px));
}
#flowchart-container .caret-right {
    transform: translate(calc(-50% - 3px), -50%);
}
#flowchart-container .caret-down {
    transform: translate(-50%, calc(-50% - 2px));
}
#flowchart-container .caret-left {
    transform: translate(calc(-50% + 2px), -50%);
}

/* sync-line */
.sync-line-left, .sync-line-middle, .sync-line-right {
    position: absolute;
    border: 1px solid;
    background-color: black;
    width: 1px;
    height: 2px;
    z-index: 1;
}
.sync-line-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sync-line-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* cook-line */
.cook-line {
    position: absolute;
    border: 2px dashed;
    /* background-color: black; */
    width: 2;
    height: 2;
    z-index: 1;
}

/* crossing */
.crossing {
    position: absolute;
    z-index: 1;
}

/* cook-title */
.cook-title {
    font-size: 0.75rem;
    font-weight: bold;
}