#chart {
    position: relative;
    background-color: var(--light-col);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    width: var(--chart-width);
    height: var(--chart-height);
}

#chart-title {
    display: inline-block;
    position: relative;
    font-size: 30px;
    left: calc(var(--chart-width) / 2);
    transform: translate(-50%, 0);
    margin-top: 10px;
}

/* chart content */
.cook-sep {
    position: absolute;
    border-left: 5px dashed;
    color: var(--dark-col);
    width: 0px;
    z-index: 3;
}
.box {
    position: absolute;
    border-radius: 5px;
    background-color: var(--light-col);

    font-size: 12px;
    text-align: center;
    
    max-width: 130px;

    box-shadow: 3px 3px var(--dark-col);
    padding: 7px 10px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}
.line, .sync-line {
    position: absolute;
    border: 1px solid;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.sync-line {
    border: 2px solid;
    border-radius: 2px;
}

.dash-travel {
    background-image: linear-gradient(90deg, var(--dark-col) 50%, transparent 50%),
                      linear-gradient(90deg, var(--dark-col) 50%, transparent 50%),
                      linear-gradient(90deg, var(--dark-col) 50%, transparent 50%),
                      linear-gradient(90deg, var(--dark-col) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right   top;
    animation: border-dance 1s infinite linear;
}

.cook-tag {
    position: absolute;
    background-color:  var(--light-col);
    opacity: 0.4;

    font-size: 15px;
    text-align: center;
    
    transform: translate(-50%, -50%);
    z-index: 2;
}

@keyframes border-dance {
0% {
    background-position: left top, right bottom, left bottom, right   top;
}
100% {
    background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
}
}