:root {
    --chart-width: 50rem;
    --chart-height: 37.5rem;
}

/* container */
#flowchart-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--light-bg);
    border-radius: 2rem;

    width: var(--chart-width);
    height: var(--chart-height);
}
#flowchart-container {
    display: inline-block;
    position: relative;
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
    color: var(--dark-text);
}
#flowchart-container > * {
    position: absolute;
    transform: translate(-50%, -50%);
    user-select: none;
    background-color: var(--light-bg);
    box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15), 0.25rem 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.125);
}

/* task */
#flowchart-container > .flow-start, #flowchart-container > .flow-task {
    margin: 1em 2em;
    z-index: 2;
    cursor: pointer;
}
#flowchart-container > .flow-start {
    margin: 0.5em 0em;
}
.flow-start {
    border-radius: 50%;
    padding: 0.5em;
    cursor: pointer;
}
.flow-task {
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    min-width: 2rem;
    min-height: 1rem;
    max-width: 4rem;
    
    border-right: solid 0.125rem;
    border-bottom: solid 0.125rem;
    border-top-left-radius: 0.5rem;
    /* border-bottom-right-radius: 0.5rem; */

    padding: 0.5rem 0.25rem;
}

/* editor */
.editor-connect, .editor-trash, .editor-add, .editor-remove, .cook-new {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    border-radius: 40%;
    margin: 0 0.25rem;

    width: 1.75rem;
    height: 1.75rem;
    z-index: 3;

    transition: opacity 0.25s;
}
#flowchart-container:hover > .editor-connect.selected,
#flowchart-container:hover > .editor-trash.selected,
#flowchart-container:hover > .editor-add.selected,
#flowchart-container:hover > .editor-remove.selected,
#flowchart-container:hover > .cook-new.selected {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}
#flowchart-container > .editor-connect, #flowchart-container > .editor-add, #flowchart-container > .editor-trash {
    transform: translate(0, -50%);
}

/* line */
#flowchart-container > .line {
    background-color: black;
    width: 0;
    height: 0;
    z-index: 1;
}
#flowchart-container > .line.top {
    transform: translate(0, -100%);
}
#flowchart-container > .line.right {
    transform: translate(0, 0);
}
#flowchart-container > .line.bottom {
    transform: translate(0, 0);
}
#flowchart-container > .line.left {
    transform: translate(-100%, 0);
}
/* caret */
#flowchart-container > .caret-up, #flowchart-container > .caret-right, #flowchart-container > .caret-down, #flowchart-container > .caret-left {
    background-color: transparent;
    box-shadow: none;
    z-index: 1;
}
#flowchart-container > .caret-up {
    transform: translate(-50%, calc(-50% + 4px));
}
#flowchart-container > .caret-right {
    transform: translate(calc(-50% - 3px), -50%);
}
#flowchart-container > .caret-down {
    transform: translate(calc(-50% + 0px), calc(-50% - 3px));
}
#flowchart-container > .caret-left {
    transform: translate(calc(-50% + 2px), -50%);
}

/* sync-line */
#flowchart-container > .sync-line {
    background-color: black;
    height: 0.25rem;
    margin: 0.5rem 0.25rem;
    border-radius: 2px;
    z-index: 2;
}

/* cook-line */
#flowchart-container > .cook-line {
    border: 0.06125em dashed;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    z-index: 1;
    margin: 1rem;
}

/* connector */
#flowchart-container > .connector {
    margin: 0.25rem;
    padding: 0;
    width: 9px;
    height: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    z-index: 2;
}

/* cook-title */
#flowchart-container > .cook-title {
    max-width: 4rem;
    margin: 0.25rem 0.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    font-weight: bold;
    z-index: 1;
    box-shadow: none;
}
#flowchart-container > .cook-new {
    opacity: 0;
    margin: 0;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.075), 0.25rem 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.06125);
}