/* main */
#ingredient-card main {
    height: 25rem;
    overflow-y: auto;
}

/* table */
#ingredient-card table {
    border-spacing: 0.5rem 0.5rem;
    text-align: center;
}
#ingredient-card th {
    padding: 0 2rem;
    border-bottom: 0.125rem solid;
}
th, td {
    padding: 0;
    font-size: 1rem;
}

/* delete button */
.ingredient-delete {
    opacity: 0.3;
}
.ingredient-delete:hover {
    opacity: 1;
}
/* input */
input[type="text"].ingredient-property {
    /* spacing */
    padding: 0.5rem 1rem;
    /* border */
    border: none;
    border-radius: 0.25rem;
}
td:nth-child(1) > *, th:nth-child(1) {
    width: 6rem;
}
td:nth-child(2) > *, td:nth-child(3) > *, th:nth-child(2), th:nth-child(3) {
    width: 3rem;
}