nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 4rem;

    background-color: var(--light-bg);
}
#search-bar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}
#search-bar > * {
    margin: 0.25rem;
}
#search-bar > input {
    min-width: 30rem;
    height: 2rem;
}

/* result */
#search-result {
    display: none;
    position: absolute;
    max-height: 20rem;
    overflow-y: auto;
    top: 100%;
    z-index: 2;
    width: 100%;
}
#search-bar:focus-within > #search-result {
    display: initial;
}
#search-bar:hover > #search-result {
    display: initial;
}
.search-item.btn {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: var(--dark-text);
    background-color: var(--light-bg);
    border-bottom: solid 0.125rem;
}
.search-item > img {
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: 6rem;
    height: 4rem;
}
.search-item.btn > label {
    font-size: 1.5rem;
}
/* recipe list */
/* #recipe-list {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
    background-color: var(--dark-bg);
    z-index: 10;
}
#recipe-list > * {
    border: 0.25rem solid;
    border-top: none;
    padding: 0.5rem;
}
.recipe-preview {
    display: flex;
    align-items: center;
    justify-content: left;
    opacity: 0.7;
}
.recipe-preview, .recipe-preview * {
    cursor: pointer;
}
.recipe-preview:hover {
    opacity: 1;
}
.recipe-preview img {
    border: 0.25rem solid;
    border-radius: 1rem;
}
.recipe-preview label {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    max-width: 20rem;
} */