:root {
    /* text */
    --highlight-text: rgb(36, 163, 88);
    --light-text: rgb(245, 245, 245);
    --dark-text: rgb(84, 93, 93);

    /* bg */
    --light-bg: rgb(255, 255, 255);
    --dark-bg: rgb(45, 45, 45);
}
/* html */
html {
    /* text */
    font-family: monospace;
    font-size: 16px;
}
/* body */
body {
    /* color */
    color: var(--dark-text-col);
    /* spacing */
    padding: 0;
    margin: 0;
    /* dim */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* event */
    user-select: none;
}
/* tags */
header {
    /* text */
    font-weight: bold;
    /* color */
    color: var(--highlight-text);
}
footer {
    /* align */
    display: flex;
    vertical-align: bottom;
}
label {
    /* text */
    font-weight: bold;
}
/* body */
nav > header {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    background-color: var(--bg-col);
}
body > main {
    padding: 1rem;
    position: relative;
    padding-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
body > main > * {
    margin: 0.5rem;
}
body > footer {
    font-weight: bold;
    font-size: 1.25rem;
    background-color: var(--bg-col);
}
/* bg */
.background {
    /* align */
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    /* color */
    filter: contrast(0.3);
}

#task-card, #upload-card {
    transition: opacity 0.3s;
}
#task-card.hidden, #upload-card.hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: none;
}