:root {
    --bg-col: rgb(200, 200, 200);
    --light-col: rgb(215, 215, 215);
    --dark-col: rgb(30, 30, 30);

    --chart-width: 1000px;
    --chart-height: 750px;
}

/* general */
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: monospace;
    font-weight: bold;

    background-color: var(--bg-col);
    overflow-y: hidden;
}

#content {
    text-align: center;
    justify-content: center;
}
#content > * {
    margin: 20px;
}

/* header */
body > h1 {
    text-align: center;
    color: var(--light-col);
    background-color: var(--dark-col);
    padding: 15px;
}